.categories-panel {
  padding: 20px;
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
  width: 250px;
  flex-direction: column;
  list-style-type: none;
}

.categories-button {
  background-color: #7cd0ea;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
}

.categories-button:hover {
  background-color: #e0e0e0;
  color: #000;
}

.category-item {
  margin-bottom: 10px;
  list-style-type: none;
}

.category-name {
  background-color: #7cd0ea;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 18px;
}

.category-name:hover {
  background-color: #e0e0e0;
  color: #000;
}

.subcategories-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  margin-left: 20px;
}

.subcategory-item {
  margin-bottom: 5px;
  cursor: pointer;
  list-style-type: none;
  font-size: 18px;
}

.subcategory-item:hover {
  text-decoration: underline;
  background-color: #f0f0f0;
}
