.budget_balance {
  font-size: 16px;
  color: #333;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.list_list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.balance_heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.balance_list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.list_heading {
  font-size: 20px;
  margin-bottom: 10px;
}

.list_heading--incomes {
  color: green;
}

.list_heading--transactions {
  color: red;
}

.list_list {
  list-style-type: none;
  padding: 0;
}
