:root {
  --income--color: #5cd484;
  --expense--color: #d62222;

  --grey-color: #3f3f3f;
  --blue-color: hsl(193, 94%, 49%);

  --form--background-color: #e2ebf0;
  --balance-background-color: #cfd9df;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
}

body {
  font-family: "Poetsen One", sans-serif;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2rem;
  padding-left: 0.5rem;
  background-color: var(--form--background-color);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_heading {
  font-size: 3.6rem;
  margin: 0 auto;
  padding: 0.5rem;
}

.app_layout {
  display: flex;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
